/* Flash Message Styles

.flash-message
	padding: 15px
	border-radius: 5px
	font-size: 16px
	color: #fff
	font-weight: bold
	width: 420px
	text-align: center
	margin: 0 auto
	animation: fadeIn 0.5s ease-in-out

	&.success
		background-color: #4CAF50

	&.error
		background-color: #f44336

@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1
