@import url('https://fonts.googleapis.com/css?family=Nunito')

/* Base Styles

*
	box-sizing: border-box
	margin: 0
	padding: 0

html
	font-size: 100%
	font-family: 'Nunito', Arial, sans-serif
	font-weight: normal
	line-height: 1.5
	-webkit-font-smoothing: antialiased

html, body
	height: 100dvh
	margin: 0
	padding: 0

.icon
	position: relative
	width: 20px
	height: 25px
	background-size: cover