a
	color: white
	opacity: 1
	text-decoration: none
	transition: all 0.2s ease

	&:hover
		opacity: 0.85
		text-decoration: underline

.content
	text-align: center
	margin-top: 2em

/* Header */
.header
	position: relative
	width: 100%
	height: 100px /* Incrementa la altura de la barra */
	line-height: 100px /* Alinea el contenido verticalmente */
	background: #ff7043 /* Naranja suave */
	box-shadow: 0 -3px 0 #ff7043 inset

.main-menu-logo
	max-height: 100px
	height: auto /* Permite que se adapte a la altura sin deformarse */
	display: block /* Asegura que se renderice correctamente */
	margin: auto /* Centra el logo vertical y horizontalmente */

/* Sombra para resaltar el color */
.wrap
	max-width: 960px
	margin: 0 auto
	display: flex
	align-items: center /* Centra verticalmente los elementos en la barra */
	justify-content: space-between /* Asegura que el menú y el logo tengan espacio */

/* Logo */
.logo
	font-family: inherit
	font-size: 1.5em
	margin-left: 1em
	margin-bottom: 0

	a
		color: #ffffff /* Blanco */
		text-decoration: none
		opacity: 1
		transition: all 0.2s ease

		&:hover
			opacity: 0.85

/* Menú principal (Navbar) */
.navbar
	background-color: #ff7043 /* Naranja suave */
	position: relative
	max-height: 1000px /* Esto se usa para permitir la animación de transformación */
	opacity: 0 /* Empieza oculto */
	transform: translateY(-10px) /* Empieza ligeramente fuera de la vista */
	transition: transform 0.4s ease, opacity 0.4s ease /* Transiciones de transformación y opacidad */

	&.show
		opacity: 1 /* Se hace visible */
		transform: translateY(0) /* Se mueve a su posición original */

/* Menú */
.menu
	display: none
	margin: 0
	padding: 0
	list-style-type: none

	li
		list-style-type: none
		display: block

		a
			//display: block
			display: ruby
			text-decoration: none
			color: #ffffff /* Blanco */
			padding: 1em
			transition: all 0.2s ease
			border-bottom: 1px solid #ff7043 /* Naranja suave */

			&:hover
				background-color: #d32f2f /* Rojo al pasar el ratón */

			&.active
				background-color: #d32f2f /* Rojo para el enlace activo */

/* Estilos para el submenú */
.user-menu
	position: relative
	display: inline-block

.user-link
	display: flex
	align-items: center
	color: white
	cursor: pointer

	&.photo
		position: absolute
		top: 0
		//top: calc(50% - 44px)

.user-photo
	display: block
	width: 40px
	height: 42px
	border-radius: 50%
	object-fit: cover
	//margin-right: 10px

/* Submenú */
.submenu
	display: none
	position: absolute
	top: 100%
	left: 0
	background-color: #333
	list-style-type: none
	padding: 0
	margin: 0
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
	z-index: 100

	li
		width: 200px

		a
			display: block
			padding: 10px
			color: white
			text-decoration: none
			transition: background-color 0.3s ease

			&:hover
				background-color: #555

.user-menu:hover .submenu
	display: block

/* Mobile menu */
#menu-icon
	display: block
	position: absolute
	top: 0
	right: 1em
	color: #ffffff
	text-decoration: none
	font-weight: bold
	cursor: pointer
	opacity: 1
	padding: 0 0.4em

	&:hover
		opacity: 0.85
		text-decoration: none
		border: none

/* Media Query para pantallas más grandes */
@media only screen and (min-width: 768px)
	.wrap
		padding-left: 1em
		padding-right: 1em

	.logo
		margin-left: 0
		display: inline-block

	.navbar
		display: inline-block
		float: right
		max-height: none
		opacity: 1
		transform: none /* Muestra el menú en pantallas grandes */

	#menu-icon
		display: none /* El ícono del menú se oculta en pantallas grandes */

	.menu li
		//display: inline-block
		display: ruby
		text-align: center

		a
			border-bottom: 0

			&:hover
				box-shadow: 0 -3px 0 #ff7043 inset /* Sombra de naranja */

			&.active
				box-shadow: 0 -3px 0 #ff7043 inset

/* Media Query para pantallas pequeñas (menos de 768px) */
@media only screen and (max-width: 768px)
	.main-menu-logo
		position: absolute
		top: 0
		left: 10px /* Ajusta la altura del logo para pantallas pequeñas */
		margin: 0

	.wrap
		flex-direction: column /* Cambia a columna para apilar los elementos */
		justify-content: flex-start /* Alinea el logo y el menú al inicio */
		align-items: flex-start /* Alinea el contenido a la izquierda */

	.navbar
		display: block /* Cambia de 'inline-block' a 'block' para que ocupe todo el ancho */
		width: 100% /* Asegura que el menú ocupe todo el ancho */
		position: absolute
		top: 100px /* Ajusta la posición para que quede debajo del logo */
		left: 0
		background-color: #ff7043
		z-index: 10
		height: 100dvh 

	.menu
		width: 100% /* Hace que las opciones del menú ocupen todo el ancho */

	.menu li
		display: block /* Hace que los enlaces del menú se apilen verticalmente */
		width: 100% /* Hace que cada enlace ocupe todo el ancho */

	.menu a
		text-align: left /* Alinea el texto de los enlaces a la izquierda */
		padding: 0.6em /* Reduce el padding para hacer las casillas más pequeñas */
		border-bottom: 1px solid #ff7043

		&:hover
			background-color: #d32f2f

	#menu-icon
		display: block /* Muestra el ícono del menú en pantallas pequeñas */
		position: absolute
		top: 10px
		right: 10px

	/* Estilos para el submenú */
	.user-menu
		width: stretch

	.user-link
		&.photo
			position: absolute
			top: 0

	.user-menu:hover .submenu
		display: block
		text-align: center

	/* Submenú */
	.submenu
		left: 72px

		li
			width: 200px
			a
				display: initial

