body
    background-color: rgba(0,0,0,0.84) !important

.hero
    background-color: #4CAF50 /* Verde */
    color: white
    text-align: center
    padding: 50px 20px
    border-radius: 8px


.hero-title
    font-size: 2.5em
    margin-bottom: 10px


.hero-description
    font-size: 1.2em
    margin-bottom: 20px


.hero-button
    background-color: white
    color: #4CAF50
    padding: 10px 20px
    border: none
    border-radius: 5px
    text-decoration: none
    font-weight: bold
    transition: background-color 0.3s

.hero-button:hover
    background-color: #e0e0e0 /* Color al pasar el ratón */

.title
    color: salmon

.success-message
    background-color: #d4edda
    border: 1px solid #c3e6cb
    color: #155724
    padding: 15px
    margin-bottom: 20px
    border-radius: 5px