.presentation-cnt
    padding-top: 40px
    padding-bottom: 40px
    .presentation-cnt-inner
        max-width: 1400px
        margin: 0 auto
        padding: 0 30px

        .presentation-header-cnt
            margin-bottom: 50px
            .presentation-header-title
                position: relative
                text-align: center
                margin-bottom: 20px

                .main-title
            //font-weight: 600

            .presentation-header-introduction
                .presentation-paragraph
                    margin-bottom: 20px
                    &:last-child
                        margin-bottom: 0

        .presentation-cnt-body
            .presentation-main-body
                display: flex
                flex-direction: column
                gap: 20px 50px
                margin-bottom: 20px
                &:last-child
                    padding-bottom: 50px
                .info-box
                    width: 100%
                .information-main-img-cnt
                    height: 500px
                    border-radius: 6px
                    overflow: hidden
                    //clip-path: ellipse(200px 220px at 50% 60%)
                    .main-img
                        display: block
                        width: 100%
                        height: 100%
                        object-fit: cover

                .header-information
                    text-align: center
                    font-weight: 700
                    font-size: 20px

                .information-paragraph
                    margin-bottom: 20px
                    &:last-child
                        margin-bottom: 0

@media (min-width: 768px)
    .presentation-cnt
        text-align: justify

@media (min-width: 1024px)
    .presentation-cnt
        .presentation-cnt-inner
            .presentation-cnt-body
                .presentation-main-body
                    flex-direction: row
                    align-items: center
                    margin-bottom: 120px
                .information-main-reverse
                    flex-direction: row-reverse
                    .info-box
                        width: 50%